# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=warehouse
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_REGION=us-east-1
S3_ENDPOINT=http://minio:9000
S3_ENDPOINT_MINIO=http://minio:9000
CATALOG_URI=sqlite:///catalog.db

# SeaweedFS S3 gateway
S3_ENDPOINT_SEAWEED=http://seaweedfs:8333
SEAWEED_BUCKET=warehouse
SEAWEED_ACCESS_KEY_ID=seaweedadmin
SEAWEED_SECRET_ACCESS_KEY=seaweedadmin
CATALOG_URI_SEAWEED=sqlite:///catalog_seaweed.db
